- provide(:title, "Contact")
%h1 Contact and address
%h2 Contact
%ul
  %li phone nr.: 00-000-000
  %li= mail_to("msypniewski511@interia.pl", "Maciej Sypniewski", subject: "", encode: "javascript")
%address
  %p
    Wloclawek 00-000
    %br
    ul. Ulicowa 0
