=link_to item.product.name, action: 'show', controller: 'catalog', id: item.product.id
="#{item.amount} szt."
="#{sprintf('%0.2f', item.price * item.amount)} zł."
|
=remove_product_link 'Usuń product', item.product
/=link_to 'Usuń product', cart_remove_path(id: item.product.id), method: :post, remote: true