- provide(:title, @user.name)
%h3.description User
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = "#{@user.name}"
%hr
=link_to 'Edytuj', edit_user_path
