/ Main site footer
%footer#site_footer
  %span= mail_to("msypniewski511@interia.pl", "Maciej Sypniewski", subject: "", encode: "javascript")
  &copy; 2017
  %nav
    %ul.nav
      %li
        %a{href: "#"} first link
      %li
        %a{href: "#"} second link
      %li
        %a{href: "#"} trzeci link
      %li
        %a{href: "#"} czwarty link