%tr{data: {link: "#{catalog_show_path(products.id)}"}}
  %td.image
    =image_tag products.image, class: 'list_image'
  %td.list_description
    %dl
      %dt= products.name
      %dt= textilize products.description
  %td.list_description
    = "Kategoria: " + Admin::Category.find(products.category_id).name.to_s
