%h3.description
  = @company.name
%table
  %thead
    %tr
      %th Name
      %th Description
      %th Company
      %th Category
      %th Subcategory
      %th Price
      %th{ colspan: 3 } Action

  %tbody.index
    = render partial: 'shared/product', collection: @products
