-provide title: @title
%div.nag
  
  =render partial: 'shared/page_header'
%div#container_outside
  %div#container_inside
    %div#main_content
      =render partial: 'contenet'
    %div#side_bar_catalog
      =render partial: 'side_bar_catalog'
    %div#cart
      = render partial: 'cart_info'
    %div#new
      =render partial: 'show_last'
%hr
        
