-provide title: @title
%div.nag
  
  =render partial: 'shared/page_header'
%div#container_outside
  %div#container_inside
    %div#main_content
      =render partial: 'contenet'
    %div#side_bar_catalog
      =render partial: 'side_bar_catalog'
    %div#cart
      %h1.catalog_title
        Koszyk:
      %br
      Brak produktow
      %hr.cart
      %br
      Wyslanych: 0
      %br
      Razem:     0
      %br
      %button Zamow
    %div#new
      =render partial: 'show_last'
%hr
        
