$body-color-aqua: #99FFFF;
$back-color-li: #66FFFF;
$lith-body-aqua: #99FFFF;
$darker-color-header: #0099CC;
$nav-color-back: #0099FF;
$h2-color: #000099;
span.main_color{
  color: red;
  font-weight: bold;
}
span.additional_color {
	color: grey;
	background-color: white;
}
