fieldset {
  color: blue;
  background-color: #99FFFF;
  border: 1px solid blue;
  border-radius: 5px;
  margin: 15px 0 15px 0;
  text-align: center;
  & legend {
    text-align: left;
    background-color: #0099CC;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    margin-left: 10px;
  }
  div {
    width: 440px;
    text-align: left;
    margin: 10px auto;
    padding: 0 20px 10px 0;
    label {
      float: left;
      width: 200px;
      text-align: right;
    }
    input {
      width: 200px;
      margin-left: 10px;
      border-radius: 3px;
    }
    input[type="submit"]{
      color: purple;
      background-color: #0099CC;
      @include gradient(#33FF99, $darker-color-header);
      border-color: #0099CC;
      border-radius: 5px;
    }
  }
  div.submit {
    width: 200px;
    text-align: right;
  }
}
.serv {
  width: 220px;
  div {
    width: 210px;
  }
}
