@import "partials/colors.scss";
@import "partials/gradient.scss";
@import "partials/_cross_browser_radius.scss";
body {
  background-color: $body-color-aqua;
  width: 960px;
  margin: 15px auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
  a {
    text-decoration: none;
  }
}
header, footer {
  width: 100%;
  @include gradient($darker-color-header, $lith-body-aqua);
  @include rounded_borders(5px);
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  ul {
    width: 100%;
    list-style: none;
    padding: 5px 0 15px 0;;
    li {
      display: block;
      text-align: center;
      width: 150px;
      float: left;
      border: 1px solid blue;
      border-radius: 5px;
      background-color: $nav-color-back;
      margin: 0 10px 0 5px;
    }
    li:hover {
      background-color: black;
      color: red;
    }
    li.log {
      display: block;
      float: right;
      width: 100px;
      background-color: #009966;
    }
  }

  a {
    color: #CCFFFF;
  }
}

/*************** Heder ************************************/
header.main_content_header {
  @include gradient($lith-body-aqua, $darker-color-header);
}
h2 {
  padding: 5px;
  margin: 5px 0 5px 5px;
  color: $h2-color;
  font-size: 18px;
  font-weight: bolder;
}

h3 {
  @include gradient(blue, $darker-color-header);
  @include rounded_borders(5px);
  padding: 2px 0 2px 5px;
  margin: 5px 0 5px 0;
  font-weight: bolder;
}
h3.action a, h3#lista_baz {
  color: white;
}
h3.form, #info {
  @include gradient(#33FF99, $darker-color-header);
}
#info {
  border-radius: 5px;
  padding: 5px 0 0 5px;
}
h3{
  &.expiry {
    @include gradient(red, white);
  }
  &.description {
    @include gradient(#CCFFCC, #00FF00);
  }
}

span.table_name {
  color: red;
}
span.database_name {
  color: orange;
}
/*################# Notice ###########################*/
#notice {
  color: green;
  background-color: #00CC66;
  padding: 2px;
  border-radius: 5px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline;
}
/**************** Error explanation ****************/
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: none;
  }
}
/************* tooltip *******************/
.tooltip {
  width: 25%;
  padding: 5px;
  background-color: white;
  border: 3px solid red;
  border-radius: 5px;
}
