/* Styles for products/index */

#product_list table {
  border-collapse: collapse;
  background-color: none;
  border: 0px;
}


#product_list table tr td {
  padding: 5px;
  vertical-align: top;
  text-align: left;
  border: 0px;
  border-top: 1px;
}

#product_list {
  tr:nth-of-type(odd){
    border-right: 0;
    border-left: 0;
  }
  .list_image {
    width: 70px;
    height: 70px;
  }
  .list_description {
    width: 90%;
  }
  .list_description dl {
    margin: 0;
    text-align: left;
  }
  .list_description td {
    margin: 0;
    text-align: left;
  }
  .list_description dt {
    color:        #244;
    font-weight:  bold;
    font-size:    larger;
  }
  .list_description dd {
    margin: 0;
  }
}
#product_list {
  tr:nth-of-type(even) {
    /*background-color: #66FFFF;*/
    background-color: white;
  }
  tr:nth-of-type(odd){
    background-color: white;
  }
}