h1.catalog_title {
  font-size: 20px;
  font-weight: bolder;
  padding: 5px;
}
h3.tytul {
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
  color: black;
  background: none;
}
dt {
  font-weight: bolder;
}
img.tlo{
  width: 100%;
}
body {
  background-image: url('obraz.jpg');
  background-repeat: repeat-y;
  background-position: 50% top;
  background-size: cover;
}

div#container_outside {
  width: 98%;
  background-color: rgba(0, 255, 255, 0.5);
  /*background: rgba(140, 202, 242, 0.5);*/
  border-radius: 8px;
  padding: 8px;
  opacity: 0.9;
  margin-bottom: 10px;
  div#container_inside {
    overflow: auto;
    width: 98%;
    background-color: white;
    opacity: 1;
    border-radius: 8px;
    padding: 8px;
    div#main_content {
      float: right;
      width: 70%;
      .product_list {
        align: center;
        text-align: center;
        background-color: #BBBBBB;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        margin-bottom: 10px;
        width: 28%;
        float: left;
        margin-bottom: 3px;
        div.image_container {
          background-color: white;
          padding: 20px;
          border-radius: 5px;
        }
        .list_image {
          align: center;
          width: 100px;
          height: 100px;
        }
        &:hover {
          background-color: red;
        }
      }
    }
    div#side_bar_catalog {
    width: 25%;
      ul li {
        background-color: #DDDDDD;
        border-radius: 5px;
        margin-bottom: 3px;
        padding: 5px;
        &:hover {
          background-color: #99FFFF;
        }
      }
    }
    div#cart {
      width: 24%;
      border-radius: 5px;
      padding: 5px;
      margin-top: 20px;
      background-color: #0099FF;
      hr.cart{
        line: 1px dotted white;
      }
    }
    div#new {
      text-align: center;
      width: 23%;
      border: 2px solid #0099FF;
      border-radius: 5px;
      padding: 8px;
      margin-top: 20px;
      background-color: white;
      hr.cart{
        line: 1px dotted white;
      }
      .new_image {
        text-align: center;
        align: right;
        width: 80%;
        height: 100%;
      }
    }
  }
}

/* clear floats on the footer to sits it at bottom of the page */
footer#site_footer {
  clear: both;
  width: 960px;
  text-align: center;
  margin-top: 10px;
  marig-bottom: 20px;
}
header#catalog_header{
  /*background: rgba(140, 202, 242, 0.5);*/
  color: rgba(0, 0, 0, 0.9);
  margin-top: 100px;
  overflow: auto;
  div#search {
    opacity: 1.0;
    float: right;
    padding: 5px;
  }
  div#title {
    float: left;
    padding: 5px;
  }
  span.content{
    color: black;
  }
}