%h1 Listing expiry dates

%table
  %thead
    %tr
      %th Product
      %th Part number
      %th Count
      /%th Date added
      %th Date expiry
      %th Period
      %th{colspan: 1} Action

  %tbody
    = render partial: 'expiry_date', collection: @expiry_dates
    %tr
      %td
        = link_to(image_tag('add_over.png'), new_expiry_date_path, remote: true, title: 'Add expiry date')
        = link_to 'New Expiry date', new_expiry_date_path, remote: true
      %td{colspan: 5}

%hr